body {
    height: 100%;
    display: flex;
	margin: 0;
	flex-direction: column;
    overflow: hidden;
    background-color: #222;
	min-height: 100vh; 
    overflow-y: auto; 
}

header {
    order: 1;
	margin-left: 20px;
	margin-top: 100px;
    padding-top: 40px;
    width: 100%;
    display: flex;
}

/* Texto com efeito de glitch */	
.TextGlitch {
    --TextGlitch-blendSize: .08em;
    --TextGlitch-blendColorA: #77f8;
    --TextGlitch-blendColorB: #ff68;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    color: #fff;
    margin-top: 100px;
    line-height: 1em;
    letter-spacing: -.1ch;
    font-size: 24px;
    font-family: "Fira Code", monospace;
    margin: 20px;
    overflow-wrap: break-word;
    
}


.TextGlitch::after {
    display: none;
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: .7ch;
    height: 1em;
    padding-top: 40px;
    margin-left: .35ch;
    border-radius: 1px;
    background-color: currentColor;
    animation: cursorAnim 1s ease infinite;
}

@keyframes cursorAnim {
    0% { opacity: .5; }
    45% { opacity: .5; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}

.TextGlitch-clip {
    position: relative;
    
    display: flex;
    align-items: baseline;
}

.TextGlitch-clip + .TextGlitch-clip {
    position: absolute;
    top: 0;
    padding-top: 40px;
}

.TextGlitch:not( .TextGlitch-blended ) .TextGlitch-clip + .TextGlitch-clip {
    display: none;
}

.TextGlitch-word {
    
    margin: 5px;    
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
}

.TextGlitch-blend {
    position: absolute;
    top: 0;
    opacity: 0;
    padding-top: 40px;
    transition: .5s;
    transition-property: opacity;
}

.TextGlitch-blendA {
    color: var( --TextGlitch-blendColorA );
    margin: calc( var( --TextGlitch-blendSize ) * -1 ) 0 0 var( --TextGlitch-blendSize );
    mix-blend-mode: darken;
}

.TextGlitch-blendB {
    color: var( --TextGlitch-blendColorB );
    margin: var( --TextGlitch-blendSize ) 0 0 calc( var( --TextGlitch-blendSize ) * -1 );
    mix-blend-mode: color-burn;
}

.TextGlitch-blended .TextGlitch-blend {
    opacity: .4;
}

/* Parte da imagem de perfil */	
.profile-container {
	order: 2;
    display: flex;
	width: 100%;
	height: auto;
    justify-content: center; 
    margin: auto;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
    
}
/* Minha foto */	
.profile-image {
    margin-top: 40px;
    width: 160px;
    height: auto;
}

/* Sobre */	
.SobreMim {
    order: 3;
    background-color: #222;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%; 
    text-align: center;
    top: 100px;
}

#sobre p {
    order: 4;
    font-size: 18px;
    font-family: "Fira Code", monospace;
    color: #fff;
    padding: 10px;
    margin: 0 auto; /* Margin automática nas laterais para centralizar o conteúdo horizontalmente */
    max-width: 70%; /* Defina a largura máxima como um valor percentual */
    position: relative;
    word-wrap: break-word;
    display: block;
    line-height: 1.5;
}

#sobre h3{
	font-size: 18px;
    font-family: "Fira Code", monospace;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
}


#icones {
	display: flex;
	gap: 16px;
	font-size: 30px;
	justify-content: center;
  }

 
  
  #icones a {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: #fff;
	transition: background 0.2s;
	border-radius: 50%;
  }
  
  #icones a:hover {
	background: rgba(255, 255, 255, 0.2);
	padding: 10px;
  }

  /* Glitch em Projeto*/
  .MeusProjetos {
    order: 5;
    --MeusProjetos-blendSize: .08em;
    --MeusProjetos-blendColorA: #77f8;
    --MeusProjetos-blendColorB: #ff68;
    width: 100%;
    color: #fff;
    line-height: 1em;
    letter-spacing: -.1ch;
    font-size: 28px;
    font-weight: bold;
    font-family: "Fira Code", monospace;
    margin: 20px;
    overflow-wrap: break-word;
    position: relative;
    word-wrap: break-word;
    text-align: center; 
    display: flex;
    justify-content: center; 
    align-items: center;
}


.MeusProjetos::after {
    display: none;
    content: "";
    position: absolute;
    left: 100%;
    bottom: 0;
    width: .7ch;
    height: 1em;
    margin-left: .35ch;
    border-radius: 1px;
    background-color: currentColor;
    animation: cursorAnim 1s ease infinite;
}

@keyframes cursorAnim {
    0% { opacity: .5; }
    45% { opacity: .5; }
    55% { opacity: 0; }
    100% { opacity: 0; }
}

.MeusProjetos-clip {
    position: relative;
    display: flex;
    
}

.MeusProjetos-clip + .MeusProjetos-clip {
    position: absolute;
    top: 0;
}

.MeusProjetos:not( .MeusProjetos-blended ) .MeusProjetos-clip + .MeusProjetos-clip {
    display: none;
}

.MeusProjetos-word {
    margin: 5px;
    max-width: 100%;
    align-items: center;
    text-align: center;
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.MeusProjetos-blend {
    position: absolute;
    top: 0;
    opacity: 0;
    transition: .5s;
    transition-property: opacity;
}

.MeusProjetos-blendA {
    color: var( --MeusProjetos-blendColorA );
    margin: calc( var( --MeusProjetos-blendSize ) * -1 ) 0 0 var( --MeusProjetos-blendSize );
    mix-blend-mode: darken;
}

.MeusProjetos-blendB {
    color: var( --MeusProjetos-blendColorB );
    margin: var( --MeusProjetos-blendSize ) 0 0 calc( var( --MeusProjetos-blendSize ) * -1 );
    mix-blend-mode: color-burn;
}

.MeusProjetos-blended .MeusProjetos-blend {
    opacity: .4;
}

  /* Helpcar */
  .ProjetoHelpCar {
    order: 6;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
  }

  .helpcar-texto {
    font-size: 15px; 
    margin: 0 auto; 
    max-width: 70%; 
    line-height: 1.5; 
    margin-bottom: 10px;
}
  

  .helpcar-image{
    width: 650px;
    margin: 20px;
  }

  .site-icon {
    font-size: 30px; 
    color: #fff; 
    margin-top: 10px; 
    border-radius: 50%; 
    border: 2px solid #fff; 
    padding: 5px; 
}

.site-icon:hover {
    color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Projeto Assinatura */
.ProjetoAssinatura {
    order: 7;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.projeto-assinatura-texto {
    font-size: 15px; 
    margin: 0 auto; 
    max-width: 70%; 
    line-height: 1.5; 
    margin-bottom: 10px;
}

.assinatura-image {
    width: 650px;
    margin: 20px;
}

.assinatura-icon {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.assinatura-icon:hover {
    color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Projeto Tabela */
.ProjetoTabela {
    order: 8;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.projeto-tabela-texto {
    font-size: 15px; 
    margin: 0 auto; 
    max-width: 70%; 
    line-height: 1.5; 
    margin-bottom: 10px;
}

.tabela-image {
    width: 650px;
    margin: 20px;
}

.tabela-icon {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.tabela-icon:hover {
    color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Projeto Cardapio */
.ProjetoCardapio {
    order: 9;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.projeto-cardapio-texto {
    font-size: 15px; 
    margin: 0 auto; 
    max-width: 70%; 
    line-height: 1.5; 
    margin-bottom: 10px;
}

.cardapio-image {
    width: 650px;
    margin: 20px;
}

.cardapio-icon {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.cardapio-icon:hover {
    color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Projeto Devlinks */
.ProjetoDevlinks {
    order: 10;
    font-size: 15px;
    font-family: "Fira Code", monospace;
    color: #fff;
    margin: 20px;
    padding-top: 20px;
    width: 100%;
    align-items: center;
    text-align: center;
}

.projeto-link-texto {
    font-size: 15px; 
    margin: 0 auto; 
    max-width: 70%; 
    line-height: 1.5; 
    margin-bottom: 10px;
}

.devlinks-image {
    width: 650px;
    margin: 20px;
}

.links-icon {
    font-size: 30px;
    color: #fff;
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 5px;
}

.links-icon:hover {
    color: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.2);
}

/* Ajuste o estilo do cabeçalho fixo para telas maiores */
#fixed-header {
    position: fixed; /* Mantenha "fixed" para telas maiores */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background: linear-gradient(rgb(94, 94, 94), #222);
    padding: 10px;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
}

#fixed-header .language-selector {
    display: flex; 
    align-items: center;
}

#fixed-header .language-selector button {
    background: transparent;
    position: relative;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 10px;
    padding: 0; 
}

#fixed-header .language-selector button img {
    width: 25px;
    height: 25px;
    color: currentColor;
}

#fixed-header .language-selector button:hover img {
    opacity: 0.8;
}
/* Adicione esta regra de mídia para telas pequenas (por exemplo, smartphones) */
@media (max-width: 768px) {
    body {
        margin: auto; 
    }

    header {
        order: 1;
        padding-top: 40px;
        margin: 40px;
        width: 100%;
        display: flex;
        justify-content: center; /* Centralize horizontalmente */
        align-items: center; /* Centralize verticalmente */
    }

    .TextGlitch {
        --TextGlitch-blendSize: .08em;
        --TextGlitch-blendColorA: #77f8;
        --TextGlitch-blendColorB: #ff68;
        align-items: center; /* Centralize verticalmente */
        justify-content: center; /* Centralize horizontalmente */
        position: relative;
        color: #fff;
        line-height: 1em;
        letter-spacing: -.05em; /* Ajuste o espaçamento das letras */
        font-size: 16px; /* Tamanho da fonte ajustado para telas menores */
        font-family: "Fira Code", monospace;
        overflow-wrap: break-word;
        max-width: 90%; /* Defina a largura máxima do elemento */
        text-align: center; /* Centralize o texto horizontalmente */
        padding-left: 20px;
    }

    .TextGlitch::after {
        display: none;
        content: "";
        position: absolute;
        bottom: 0;
        width: .7ch;
        height: 1em;
        border-radius: 1px;
        background-color: currentColor;
        animation: cursorAnim 1s ease infinite;
    }

    
    .responsive-image {
        max-width: 80%; 
        display: block; 
        margin: 0 auto; 
    }
    
    .profile-container {
        justify-content: center; /* Centralize horizontalmente o conteúdo do .profile-container */
    }
    .profile-image {
        width: 120px; 
        padding-left: 20px;
        
    }

    
    #sobre {
        font-size: 16px; 
    }

    
    #fixed-header {
        padding-right: 10px; 
    }

    
    #fixed-header .language-selector {
        overflow-x: auto; 
        white-space: nowrap; 
    }
}
    #fixed-header .language-selector button {
        background: transparent;
        position: relative;
        border: none;
        cursor: pointer;
        font-size: 18px;
        margin-right: 10px;
        padding: 0; 
    }

    #fixed-header .language-selector button img {
        width: 25px;
        height: 25px;
        color: currentColor;
    }

    #fixed-header .language-selector button:hover img {
        opacity: 0.8;
    }

